.days-of-the-week {
  display: flex;
  border: 1px solid black;
}

.days-of-the-week > .header-day {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.Day {
  font-size: 36px;
}