.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.schedule-editor {
  font-size: 26px;
  /*padding: 4rem;*/
}

.schedule-form-days-of-week {
  display: flex;
  justify-content: space-between;
}

.schedule-editor-main {
  margin: 1em;
}

.schedule-card {
  margin: 1rem;
}

.schedule-archive {
  color: #7688;
  overflow: scroll;
}

.schedule-form-main {
  display: flex;
  flex-direction: column;
}

